@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Shadows+Into+Light&display=swap");

@import "./components/css.reset";
@import "./components/variables";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
  font-family: $primaryFamily;
}

body {
  background: $primaryBackground;
}

/* header content start */

.header {
  margin: 30px 100px 100px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-family: $logoFamily;
    font-size: $logoSize;
    color: $linkColor;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      color: darken($linkColor, 15%);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__list {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    font-size: $primarySize;
    font-weight: 600;
    text-transform: uppercase;
    color: $primaryColor;
    font-family: $primaryFamily;

    &:hover {
      color: lighten($primaryColor, 30%);
    }
  }

  &__image {
    display: none;
  }
}

/* header content end */

.main {
  display: flex;
  flex-direction: column;
  margin: 30px 100px 30px 100px;
}

.biography {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.biography__section {
  flex-basis: 65%;
  padding-right: 100px;
}

.biography__title {
  font-family: $titleFamily;
  font-size: $titleSize;
  font-weight: 500;
  color: $titleColor;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: left;
}

.biography__text {
  font-size: var(--main-size);
  color: var(--main-text-color);
  line-height: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.biography__text:last-child {
  margin-bottom: 0px;
}

.biography__socialmedia {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--sec-bg-color);
  margin-bottom: 20px;
  padding: 10px 0;
}

.biography__socialmedia.mobile {
  display: none;
}

.socialmedia__links {
  font-size: var(--main-size);
  color: var(--other-text-color);
}

.socialmedia__links:hover {
  color: #ee7968;
}

.personal-info__aside {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside__title {
  font-size: var(--main-size);
  text-transform: uppercase;
  color: var(--small-title-color);
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.aside__bio {
  font-size: var(--main-size);
  color: var(--main-text-color);
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
}

.aside__img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.aside__text {
  font-size: var(--main-size);
  color: var(--main-text-color);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.aside__text > span {
  font-weight: 400;
}

.expertise,
.skills,
.certificates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.expertise__title,
.skills__title,
.certificates__title {
  font-family: var(--title-font-family);
  font-size: var(--title-size);
  font-weight: 500;
  color: var(--big-title-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: left;
}

.expertise__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expertise__wrapper__section {
  flex-basis: 65%;
  width: 1000px;
}

.expertise__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--sec-bg-color);
}

.expertise__lineone,
.expertise__linetwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.expertise__date {
  font-size: var(--sec-size);
  color: var(--sec-text-color);
}

.expertise__btn--open {
  width: 13px;
  height: auto;
  cursor: pointer;
  display: block;
}

.expertise__btn--close {
  width: 13px;
  height: auto;
  cursor: pointer;
  display: none;
}

.expertise__position {
  font-size: var(--main-size);
  color: var(--small-title-color);
  font-weight: 600;
  text-transform: uppercase;
}

.expertise__office {
  font-size: var(--sec-size);
  color: var(--other-text-color);
  font-style: italic;
  text-align: right;
}

.task__container {
  width: 100%;
  background-color: var(--sec-bg-color);
  padding: 30px 30px 50px 50px;
  border: 1px solid var(--sec-bg-color);
}

.task {
  font-size: var(--main-size);
  list-style-type: disc;
  margin-bottom: 15px;
  line-height: 20px;
  color: var(--main-text-color);
}

.task:last-child {
  margin-bottom: 0;
}

.expertise__aside {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expertise__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.expertise__figure > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

.expertise__figure > figcaption {
  font-size: var(--main-size);
  color: var(--main-text-color);
  text-align: center;
}

.skills__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.skills__wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--sec-bg-color);
  padding: 30px;
  width: 400px;
  height: 200px;
}

.skills__subtitle {
  font-size: var(--main-size);
  color: var(--small-title-color);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.skills__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--main-size);
  margin-bottom: 15px;
  line-height: 20px;
  color: var(--main-text-color);
}

.skills__list:last-child {
  margin-bottom: 0;
}

.certificates__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.certificates__wrapper {
  display: flex;
  align-items: center;
  background-color: var(--sec-bg-color);
  padding: 30px;
  width: 610px;
}

.certificates__img {
  width: 50px;
  height: auto;
  margin-right: 20px;
}
.certificates__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.certificates__name {
  font-size: var(--main-size);
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.certificates__office {
  font-size: var(--sec-size);
  color: var(--sec-text-color);
}

.footer {
  margin: 0 100px 50px 100px;

  &__title {
    font-family: $titleFamily;
    font-size: $titleSize;
    color: $titleColor;
    font-weight: 700;
    letter-spacing: 1px;
    width: 420px;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 30px;
    line-height: 55px;
  }

  &__email {
    margin-bottom: 20px;
  }

  &__text {
    font-size: var(--main-size);
    color: var(--main-text-color);
    text-transform: uppercase;
    line-height: 20px;
  }

  &__links {
    font-size: var(--main-size);
    color: var(--other-text-color);
    line-height: 20px;
  }

  &__copyright {
    font-size: var(--sec-size);
    color: var(--sec-text-color);
    font-weight: 500;
    font-style: italic;
  }

  &__btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    background: $primaryBackground;
  }

  &__btn > i {
    font-size: $titleSize;
    color: $primaryColor;
  }
}

// @media screen and (max-width: 1024px) {
//   .expertise__aside {
//     /* align-items: flex-end; */
//   }

//   .expertise__wrapper__section {
//     width: 620px;
//   }

//   .expertise__figure > figcaption {
//     width: 200px;
//   }

//   .skills__wrapper {
//     width: 402px;
//   }

//   .certificates__wrapper {
//     width: 402px;
//   }
// }

// @media screen and (max-width: 768px) {
//   .header {
//     margin: 30px 50px 50px 50px;
//   }

//   .main {
//     margin: 30px 50px 30px 50px;
//   }

//   .biography {
//     flex-direction: column-reverse;
//   }

//   .biography__section {
//     flex-basis: auto;
//     padding-right: 0;
//   }

//   .personal-info__aside {
//     flex-basis: auto;
//     margin-bottom: 20px;
//   }

//   .expertise__wrapper__section {
//     flex-basis: auto;
//     width: 668px;
//   }

//   .expertise__aside {
//     display: none;
//   }

//   .skills__wrapper {
//     width: 324px;
//   }

//   .certificates__wrapper {
//     width: 100%;
//   }

//   .footer {
//     margin: 0 50px 50px 50px;
//   }
// }

// @media screen and (max-width: 425px) {
//   .nav-header {
//     display: none;
//   }

//   .nav-header__bars {
//     display: block;
//     width: 22px;
//     height: auto;
//     cursor: pointer;
//   }

//   .biography__socialmedia {
//     display: none;
//   }

//   .biography__socialmedia.mobile {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     background-color: var(--sec-bg-color);
//     margin-bottom: 20px;
//     padding: 10px 0;
//   }

//   .aside__img {
//     width: 250px;
//   }

//   .aside__text {
//     display: flex;
//     flex-direction: column;
//     line-height: 20px;
//   }

//   .skills__subtitle {
//     text-align: center;
//   }

//   .expertise__wrapper__section {
//     width: 325px;
//   }

//   .footer__title {
//     width: 100%;
//     text-align: center;
//   }

//   .footer__email {
//     display: flex;
//     flex-direction: column;
//   }

//   .footer__text {
//     text-align: center;
//   }

//   .footer__links {
//     text-align: center;
//   }

//   .footer__copyright {
//     text-align: center;
//   }
// }

// @media screen and (max-width: 375px) {
//   .skills__list {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: var(--main-size);
//     margin-bottom: 15px;
//     line-height: 20px;
//     color: var(--main-text-color);
//   }

//   .expertise__wrapper__section {
//     width: 275px;
//   }

//   .skills__list > span {
//     display: none;
//   }

//   .footer__copyright > span {
//     display: none;
//   }
// }
