$primaryBackground: #faf2ef;
$secondaryBackground: #dfaf5e;

$titleColor: #242424;
$primaryColor: #444343;
$secondaryColor: #6b6768;
$linkColor: #ab5232;

$titleSize: 40px;
$primarySize: 16px;
$secondarySize: 13px;
$logoSize: 30px;

$titleFamily: "Playfair Display", serif;
$primaryFamily: "IBM Plex Mono", monospace;
$logoFamily: "Shadows Into Light";
